.container {
  background: linear-gradient(180deg, #ff008c 0%, rgb(211, 9, 225) 100%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container div {
  background: white;
  border-radius: 30px;
  width: 150px;
  height: 150px;
}
