.container {
  background: linear-gradient(180deg, #d309e1 0%, rgb(156, 26, 255) 100%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container div {
  background: white;
  border-radius: 30px;
  width: 150px;
  height: 150px;
}
