.container {
  background-color: blue;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container div {
  background: white;
  border-radius: 30px;
  width: 150px;
  height: 150px;
}
